<!DOCTYPE html>
  <html>
    <head>
      
      <title>Add Modify Edit</title>

      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="css/recipe-details.css">
      
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>


       <nav>
    <div class="nav-wrapper">
      <a href="" class="brand-logo mylogo"><img src="Image/loginLogo.png" alt=""></a>
      <a href="" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down lower">

        <li><a href=""><i class="material-icons left">search</i></a></li>
        <li><a href=""><i class="material-icons left">home</i></a></li>
        <li><a href=""><i class="material-icons left">favorite</i></a></li>
        <li><a href="sass.html"><i class="material-icons left">border_color</i></a></li>
        <li><a href="sass.html"><i class="material-icons left">person_outline</i></a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href=""><i class="material-icons left">search</i></a></li>
        <li><a href=""><i class="material-icons left">home</i></a></li>
        <li><a href=""><i class="material-icons left">favorite</i></a></li>
        <li><a href=""><i class="material-icons left">border_color</i></a></li>
        <li><a href=""><i class="material-icons left">person_outline</i></a></li>
      </ul>
    </div>
  </nav>
    
   
      <div class="row">


        <div class="col s12 m6 push-m1">
          
          <div class="card" id="first">
            <div class="card-content">
              <span class="card-title"><h5 >Add/Edit Your Recipe</h5></span>
             
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="" id="first_name" type="text" class="validate">
          <label for="first_name">Title of Recipe</label>
        </div>
        
      </div>
      
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Recipe Content</label>
        </div>
      </div>
      
       
     
        
    
    </form>
  </div>
        
             
            </div>
            <div class="card-action">
              <a href=""><i class="material-icons left">note_add</i></a>
              <a href=""><i class="material-icons left">delete</i></a>
              <a href=""><i class="material-icons left">cancel</i></a>
            </div>
          </div>
        </div>

         
         <div class="col m4 push-m2 s12"> 

        <h5 class="popular">My Recipes</h5>  

        <div class="collection  grey lighten-2 shh">

      <ul>
        <li class="collection-item"><a href="" class="secondary-content"><i class="material-icons right">more</i></a><a href="#!" class="secondary-content"><i class="material-icons left">border_color</i></a><div>Baked Chicken With Sauce<a href="" class="secondary-content"><i class="material-icons">delete</i></a></div></li>

        <li class="collection-item"><a href="" class="secondary-content"><i class="material-icons right">more</i></a><a href="" class="secondary-content"><i class="material-icons left">border_color</i></a><div>Mint Banana Sauce<a href="" class="secondary-content"><i class="material-icons">delete</i></a></div></li>


        <li class="collection-item"><a href="" class="secondary-content"><i class="material-icons right">more</i></a><a href="" class="secondary-content"><i class="material-icons left">border_color</i></a><div>Spiced Meat and Chicken flavour<a href="" class="secondary-content"><i class="material-icons">delete</i></a></div></li>


        <li class="collection-item"><a href="" class="secondary-content"><i class="material-icons right">more</i></a><a href="" class="secondary-content"><i class="material-icons left">border_color</i></a><div>Bean Cake and Rice<a href="" class="secondary-content"><i class="material-icons">delete</i></a></div></li>

        <li class="collection-item"><a href="" class="secondary-content"><i class="material-icons right">more</i></a><a href="" class="secondary-content"><i class="material-icons left">border_color</i></a><div>Baked Chicken With Sauce<a href="" class="secondary-content"><i class="material-icons">delete</i></a></div></li>


        <li class="collection-item"><a href="" class="secondary-content"><i class="material-icons right">more</i></a><a href="" class="secondary-content"><i class="material-icons left">border_color</i></a><div>Mint Banana Sauce<a href="" class="secondary-content"><i class="material-icons">delete</i></a></div></li>


        <li class="collection-item"><a href="" class="secondary-content"><i class="material-icons right">more</i></a><a href="" class="secondary-content"><i class="material-icons left">border_color</i></a><div>Spiced Meat and Chicken flavour<a href="" class="secondary-content"><i class="material-icons">delete</i></a></div></li>

        <li class="collection-item"><a href="" class="secondary-content"><i class="material-icons right">more</i></a><a href="" class="secondary-content"><i class="material-icons left">border_color</i></a><div>Bean Cake and Rice<a href="" class="secondary-content"><i class="material-icons">delete</i></a></div></li>

        <li class="collection-item"><a href="" class="secondary-content"><i class="material-icons right">more</i></a><a href="" class="secondary-content"><i class="material-icons left">border_color</i></a><div>Baked Chicken With Sauce<a href="" class="secondary-content"><i class="material-icons">delete</i></a></div></li>


        <li class="collection-item"><a href="" class="secondary-content"><i class="material-icons right">more</i></a><a href="" class="secondary-content"><i class="material-icons left">border_color</i></a><div>Mint Banana Sauce<a href="" class="secondary-content"><i class="material-icons">delete</i></a></div></li>


        <li class="collection-item"><a href="" class="secondary-content"><i class="material-icons right">more</i></a><a href="" class="secondary-content"><i class="material-icons left">border_color</i></a><div>Spiced Meat and Chicken flavour<a href="" class="secondary-content"><i class="material-icons">delete</i></a></div></li>

        <li class="collection-item"><a href="" class="secondary-content"><i class="material-icons right">more</i></a><a href="" class="secondary-content"><i class="material-icons left">border_color</i></a><div>Bean Cake and Rice<a href="" class="secondary-content"><i class="material-icons">delete</i></a></div></li>   

        <li class="collection-item"><a href="" class="secondary-content"><i class="material-icons right">more</i></a><a href="" class="secondary-content"><i class="material-icons left">border_color</i></a><div>Baked Chicken With Sauce<a href="" class="secondary-content"><i class="material-icons">delete</i></a></div></li>

        <li class="collection-item"><a href="" class="secondary-content"><i class="material-icons right">more</i></a><a href="" class="secondary-content"><i class="material-icons left">border_color</i></a><div>Mint Banana Sauce<a href="" class="secondary-content"><i class="material-icons">delete</i></a></div></li>

        <li class="collection-item"><a href="" class="secondary-content"><i class="material-icons right">more</i></a><a href="" class="secondary-content"><i class="material-icons left">border_color</i></a><div>Spiced Meat and Chicken flavour<a href="" class="secondary-content"><i class="material-icons">delete</i></a></div></li>

        <li class="collection-item"><a href="" class="secondary-content"><i class="material-icons right">more</i></a><a href="" class="secondary-content"><i class="material-icons left">border_color</i></a><div>Bean Cake and Rice<a href="" class="secondary-content"><i class="material-icons">delete</i></a></div></li>    
      </ul>

        </div>
        
      <div class="row">
     

       <ul class="pagination bst">
    <li class="disabled"><a href=""><i class="material-icons">chevron_left</i></a></li>
    <li class="active"><a href="">1</a></li>
    <li class="waves-effect"><a href="">2</a></li>
    <li class="waves-effect"><a href="">3</a></li>
    <li class="waves-effect"><a href="">4</a></li>
    <li class="waves-effect"><a href="">5</a></li>
    <li class="waves-effect"><a href=""><i class="material-icons">chevron_right</i></a></li>
  </ul>


    </div>


      
      </div>
       





      </div>


     

       

  
  

    <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Search from over 50000 recipes</h5>
                <p class="grey-text text-lighten-4">Your taste is our delight</p>
              </div>
              
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">&copy 2017 Andela
            <a class="grey-text text-lighten-4 right" href="">Contact Us</a>
            </div>
          </div>
        </footer>





      
      <script type="text/javascript" src="js/jquery.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      
      <script>
        $(".button-collapse").sideNav();
      </script>
    </body>
  </html>