<!DOCTYPE html>
  <html>
    <head>
      
      <title>Home Page</title>

      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="css/home.css">
      
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>




    <body>
                      
       <div class="row">
        <div class="col s12 m10 offset-m1">
          <div class="card">
            <div class="card-content white-text">
              
              <nav>
    <div class="nav-wrapper red lighten-1 ">
      <a href="Home Page.html" class="brand-logo" id = "logo"><span id="more">More</span><span id = "recipe">Recipe</span></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="Home Page.html">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Contact Us</a></li>
      </ul>
    </div>
         
         </nav>
             <div class="card-action">
              <a href="signUpPage.html" class="right">Register</a>
              <a href="signInPage.html" class="right">Login</a>
            </div>
          </div>
        </div>
      </div>
                     
     </div>




          <div class = "row search">
           

            <div class ="col m6 offset-m3">
              <div class="col m10 offset-m1">
                
                <div class="row">
              <form class="col s12">
               <div class="row">
             <div class="input-field col s12">
              <textarea id="textarea1" class="materialize-textarea"></textarea>
              <label for="textarea1"><p id="focus">search for recipes...</p></label>
          
           <button class="btn red lighten-1 waves-effect waves-light" type="submit" name="action">Search</button>
        

                  </div>
                 </div>
               </form>
             </div>




              </div>
            </div>

          </div>

             

             <h5>POPULAR RECIPES</h5>

           <div class="row" id="first">
          
           

                 <div class="col s12 m6 move">
            
                       

        <div class="col s12 m6">


          <div class="card">
            <div class="card-image">
              <img class = "homeimage" src="Image/10.jpg">
              <span class="card-title">Sausage Bacon and Meat</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing smh bits of inform</p>
            </div>
            <div class="card-action">
              <a href=""><i class="material-icons left">thumb_up</i></a>
              <a href=""><i class="material-icons left">thumb_down</i></a>
              <a href=""><i class="material-icons left">favorite</i></a>
             
              
            <a href="">  <i class="material-icons right">more</i></a>

            </div>
          </div>


        </div>



        <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
              <img class = "homeimage" src="image/11.jpg">
              <span class="card-title">Creamy Ginger Bread</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits okay.</p>
            </div>
            <div class="card-action">
              <a href=""><i class="material-icons left">thumb_up</i></a>
              <a href=""><i class="material-icons left">thumb_down</i></a>
              <a href=""><i class="material-icons left">favorite</i></a>
             
              
            <a href="">  <i class="material-icons right">more</i></a>

            </div>
          </div>
        </div>

                </div>

                   

                    <div class="col s12 m6 move">
            
                       

        <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
              <img class = "homeimage" src="image/9.jpg">
              <span class="card-title">Honey Piew Cheese</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits okay.</p>
            </div>
            <div class="card-action">
              <a href=""><i class="material-icons left">thumb_up</i></a>
              <a href=""><i class="material-icons left">thumb_down</i></a>
              <a href=""><i class="material-icons left">favorite</i></a>
             
              
            <a href="">  <i class="material-icons right">more</i></a>

            </div>
          </div>
        </div>



        <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
              <img class = "homeimage" src="image/13.jpg">
              <span class="card-title">Italian Balondoo</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits okay.</p>
            </div>
            <div class="card-action">
              <a href=""><i class="material-icons left">thumb_up</i></a>
              <a href=""><i class="material-icons left">thumb_down</i></a>
              <a href=""><i class="material-icons left">favorite</i></a>
             
              
            <a href="">  <i class="material-icons right">more</i></a>

            </div>
          </div>
        </div>

                </div>




               <ul class="pagination right">
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    <li class="active"><a href="#!">1</a></li>
    <li class="waves-effect"><a href="#!">2</a></li>
    <li class="waves-effect"><a href="#!">3</a></li>
    <li class="waves-effect"><a href="#!">4</a></li>
    <li class="waves-effect"><a href="#!">5</a></li>
    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
  </ul>
         


           </div>


      <h5>MORE RECIPES</h5>


      <div class = "row" id="second">

            <div class = "col s12 m6">

            
                

        <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
              <img class = "homeimage" src="image/1.jpg">
              <span class="card-title">Vegetabl Meat</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits okay.</p>
            </div>
            <div class="card-action">
              <a href=""><i class="material-icons left">thumb_up</i></a>
              <a href=""><i class="material-icons left">thumb_down</i></a>
              <a href=""><i class="material-icons left">favorite</i></a>
             
              
            <a href="">  <i class="material-icons right">more</i></a>

            </div>
          </div>
        </div>
      
         


        <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
              <img class = "homeimage" src="image/2.jpg">
              <span class="card-title">Biyacuna Pizzar</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits okay.</p>
            </div>
            <div class="card-action">
              <a href=""><i class="material-icons left">thumb_up</i></a>
              <a href=""><i class="material-icons left">thumb_down</i></a>
              <a href=""><i class="material-icons left">favorite</i></a>
             
              
            <a href="">  <i class="material-icons right">more</i></a>

            </div>
          </div>
        </div>
            

    </div>




    <div class ="col s12 m6">
      
            
              
            <div class="col 6 m6">
          <div class="card">
            <div class="card-image">
              <img class="homeimage" src="image/8.jpg">
              <span class="card-title">Delux Burger</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits okay.</p>
            </div>
            <div class="card-action">
              <a href=""><i class="material-icons left">thumb_up</i></a>
              <a href=""><i class="material-icons left">thumb_down</i></a>
              <a href=""><i class="material-icons left">favorite</i></a>
             
              
            <a href="">  <i class="material-icons right">more</i></a>

            </div>
          </div>
        </div>
      

            <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
              <img class = "homeimage" src="image/6.jpg">
              <span class="card-title">Spiced Chicken spree</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits okay.</p>
            </div>
            <div class="card-action">
              <a href=""><i class="material-icons left">thumb_up</i></a>
              <a href=""><i class="material-icons left">thumb_down</i></a>
              <a href=""><i class="material-icons left">favorite</i></a>
             
              
            <a href="">  <i class="material-icons right">more</i></a>

            </div>
          </div>
        </div>
       
      

      
    </div>



               <ul class="pagination right">
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    <li class="active"><a href="#!">1</a></li>
    <li class="waves-effect"><a href="#!">2</a></li>
    <li class="waves-effect"><a href="#!">3</a></li>
    <li class="waves-effect"><a href="#!">4</a></li>
    <li class="waves-effect"><a href="#!">5</a></li>
    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
  </ul>


  </div>





            
        <footer class="page-footer red lighten-1">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Your Taste, Our Delight!</h5>
                <p class="grey-text text-lighten-4">Search from over 50000 recipes.</p>
              </div>
             
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
           &copy 2017 Andela
          

            <a class="grey-text text-lighten-4 right" href="#!">Home</a>
           
          
         
            </div>
          </div>
        </footer>
      
      
    </body>
  </html>