<!DOCTYPE html>
  <html>
    <head>
      
      <title>Profile-Page</title>

      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="css/recipe-details.css">
      
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>


       <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo mylogo"><img src="Image/loginLogo.png" alt=""></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down lower">

        <li><a href="sass.html"><i class="material-icons left">search</i></a></li>
        <li><a href="sass.html"><i class="material-icons left">home</i></a></li>
        <li><a href="sass.html"><i class="material-icons left">favorite</i></a></li>
        <li><a href="sass.html"><i class="material-icons left">border_color</i></a></li>
        <li><a href="sass.html"><i class="material-icons left">person_outline</i></a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="sass.html"><i class="material-icons left">search</i></a></li>
        <li><a href="sass.html"><i class="material-icons left">home</i></a></li>
        <li><a href="sass.html"><i class="material-icons left">favorite</i></a></li>
        <li><a href="sass.html"><i class="material-icons left">border_color</i></a></li>
        <li><a href="sass.html"><i class="material-icons left">person_outline</i></a></li>
      </ul>
    </div>
  </nav>
    
   <div class="row card">

    <div class="col s12 m6 offset-m3">
      <table>

          <thead class="prof"><th><h5>MY PROFILE</h5></th>
          </thead>
         
          <tr>
              <th>First Name</th>
              <td><div class="input-field col s12">
          <input disabled value="Deborah" id="disabled" type="text" class="validate">
          <label for="disabled"></label>
        </div></td>
              
          </tr>
        

        

          <tr>

            <th>Last Name</th>
            <td><div class="input-field col s12">
          <input disabled value="Jellybean" id="disabled" type="text" class="validate">
          <label for="disabled"></label>
        </div></td>
            
          </tr>

          <tr>
            <th>Email Address</th>
            <td><div class="input-field col s12">
          <input disabled value="deborahjelleybean@gmail.com" id="disabled" type="text" class="validate">
          <label for="disabled"></label>
        </div></td>
      
          </tr>
          <tr>
            <th>Password</th>
            <td><div class="input-field col s12">
          <input disabled value="*********" id="disabled" type="text" class="validate">
          <label for="disabled"></label>
        </div></td>
            
          </tr>
        
        
      </table>

      
      <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action">Edit
    <i class="material-icons right">border_color</i>
  </button>

     </div>
     </div>

      </div> 

  
  

    <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Search from over 50000 recipes</h5>
                <p class="grey-text text-lighten-4">Your taste is our delight</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text"></h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Home</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Profile</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Favorites</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Add Recipe</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">&copy 2017 Andela
            <a class="grey-text text-lighten-4 right" href="#!">Contact Us</a>
            </div>
          </div>
        </footer>





      
      <script type="text/javascript" src="js/jquery.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      
      <script>
        $(".button-collapse").sideNav();
      </script>
    </body>
  </html>