<!DOCTYPE html>
  <html>
    <head>
      
      <title>Recipe Details</title>

      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="css/recipe-details.css">
      
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>


       <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo mylogo"><img src="Image/loginLogo.png" alt=""></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down lower">

        <li><a href="sass.html"><i class="material-icons left">search</i></a></li>
        <li><a href="sass.html"><i class="material-icons left">home</i></a></li>
        <li><a href="sass.html"><i class="material-icons left">favorite</i></a></li>
        <li><a href="sass.html"><i class="material-icons left">border_color</i></a></li>
        <li><a href="sass.html"><i class="material-icons left">person_outline</i></a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="sass.html"><i class="material-icons left">search</i></a></li>
        <li><a href="sass.html"><i class="material-icons left">home</i></a></li>
        <li><a href="sass.html"><i class="material-icons left">favorite</i></a></li>
        <li><a href="sass.html"><i class="material-icons left">border_color</i></a></li>
        <li><a href="sass.html"><i class="material-icons left">person_outline</i></a></li>
      </ul>
    </div>
  </nav>
    
   
      <div class="row">
        <div class="col s12 m6 offset-m3">
          <div class="card" id="first">
            <div class="card-content">
              <span class="card-title"><h5>Ginger Bread with Chicken Sauce</h5></span>

              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.
             
              

            </p>
            </div>
            <div class="card-action">
              <a href="#"><i class="material-icons left">thumb_up</i></a>
              <a href="#"><i class="material-icons left">thumb_down</i></a>
              <a href="#"><i class="material-icons left">favorite</i></a>
            </div>
          </div>
        </div>
      </div>


     <div class="row">

      <div class="col s12 m6 offset-m3">
        <h5>Reviews</h5>
            
            <p class="review">
              I am convenient because I require little markup to use effectively.
              I am a very simple card. I am good at containing small bits of information.
              
            </p>

           <p class= "review">
             I am convenient because I require little markup to use effectively.
              I am a very simple card. I am good at containing to use effectively.
              I am a very simple card. I am good at containing 
           </p>



       <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
           <i class="material-icons prefix">mode_edit</i>
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Leave a Review</label>
        </div>
      </div>
    </form>

  <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
        
  </div>

      </div>


     </div>

       

  
  

    <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Search from over 50000 recipes</h5>
                <p class="grey-text text-lighten-4">Your taste is our delight</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text"></h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Home</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Profile</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Favorites</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Add Recipe</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">&copy 2017 Andela
            <a class="grey-text text-lighten-4 right" href="#!">Contact Us</a>
            </div>
          </div>
        </footer>





      
      <script type="text/javascript" src="js/jquery.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      
      <script>
        $(".button-collapse").sideNav();
      </script>
    </body>
  </html>