<!DOCTYPE html>
  <html>
    <head>
      
      <title>Search Page</title>

      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="css/recipe-details.css">
      
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>


         <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo mylogo"><img src="Image/loginLogo.png" alt=""></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down lower">

        <li><a href="SearchPage.html"><i class="material-icons left">search</i></a></li>
        <li><a href="catalogPage.html"><i class="material-icons left">home</i></a></li>
        <li><a href="favoriteRecipeView.html"><i class="material-icons left">favorite</i></a></li>
        <li><a href="addModifyDeleteRecipe.html"><i class="material-icons left">border_color</i></a></li>
        <li><a href="profilePage.html"><i class="material-icons left">person_outline</i></a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="SearchPage.html"><i class="material-icons left">search</i></a></li>
        <li><a href="catalogPage.html"><i class="material-icons left">home</i></a></li>
        <li><a href="favoriteRecipe.html"><i class="material-icons left">favorite</i></a></li>
        <li><a href="addModifyDeleteRecipe.html"><i class="material-icons left">border_color</i></a></li>
        <li><a href="profilePage.html"><i class="material-icons left">person_outline</i></a></li>
      </ul>
    </div>
  </nav>
   
      
  
    <div class="row lower"><span class="col m2"><h5>Searh for recipes...</h5></span>
      <div class="col s12 m6 offset-m2">
      <form>
        <div class="input-field">
          <input id="search" type="search" required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>

     
  </div>
  
  





      
      <script type="text/javascript" src="js/jquery.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      
      <script>
        $(".button-collapse").sideNav();
      </script>
    </body>
  </html>