<!DOCTYPE html>
  <html>
    <head>
      
      <title>signIn Page</title>

      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      
      <link type="text/css" rel="stylesheet" href="css/home.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>



                     
       <div class="row">
        <div class="col s12 m10 offset-m1">
          <div class="card">
            <div class="card-content white-text">
              
              <nav>
    <div class="nav-wrapper red lighten-1 ">
      <a href="#" class="brand-logo" id = "logo"><span id="more">More</span><span id = "recipe">Recipe</span></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="Home Page.html">Home</a></li>
        <li><a href="badges.html">About</a></li>
        <li><a href="collapsible.html">Contact Us</a></li>
      </ul>
    </div>
         
         </nav>
             <div class="card-action">
              <a href="signUpPage.html" class="right">Register</a>
              
            </div>
          </div>
        </div>
      </div>
                     
     </div>

         <div class="row">
           <div class="col s12 m6 offset-m3">
          <div class="card">
            <div class="card-content">
  
              <h5 >Login</h5>
              
              
      <div class="row">
        <form class="col s12">
      
       <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
        
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      

      <a class="btn red lighten-1 waves-effect waves-light right" href="catalogPage.html">Login</a>
    </form>
  </div>
             





            </div>
            <div class="card-action">
             
              <a href="#">Reset Password?</a>

                     <span class="right"><a href="signUpPage.html">Register</a></span>
            </div>
          </div>
        </div>
      </div>
       
      


      
      <script type="text/javascript" src="js/jquery.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      
    </body>
  </html>